<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{title}}</title>

    <link href="https://orion-entertainment.net/MC/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://orion-entertainment.net/MC/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://orion-entertainment.net/MC/css/landing-page.min.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="/">Orion-Entertainment Network</a>
        <a class="btn btn-success" href="http://store.mc.orion-entertainment.net/">Store</a>
      </div>
    </nav>

    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">Orion Entertainment Minecraft</h1>
          </div>
        </div>
      </div>
    </header>

    <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="fas fa-server m-auto text-primary"></i>
              </div>
              <h3>Dedicated Servers</h3>
              <p class="lead mb-0">We use top of the line dedicated server to make sure our servers and players are having the best experience they can get! All of our services are provided by <a href="https://www.ovh.com/">OVH</a> with 24/7 DDoS Mitigation.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="far fa-handshake m-auto text-primary"></i>
              </div>
              <h3>New people</h3>
              <p class="lead mb-0">We're always happy to meet new people and with the more new players joining our community we're also going to need a strong team to watch everyone.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="fas fa-question m-auto text-primary"></i>
              </div>
              <h3>Up for new ideas</h3>
              <p class="lead mb-0">Our idea is to grow our community and span out into many different games/gamemodes on all types of games all over the world.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">

          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('https://orion-entertainment.net/MC/img/SF3.jpg');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>SkyFactory 3 Server</h2>
            <p class="lead mb-0">Our first hosted Minecraft Server is on the mod pack SkyFactory 3, which you can download and play though the <a href="https://app.twitch.tv/download" target="_blank">Twitch Desktop App</a>! As this is our first Minecraft Server we'll be trying our best to satisfy all of our players.
            <hr>
            Server IP: sf3.Orion-Entertainment.net
            </p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img" style="background-image: url('https://orion-entertainment.net/MC/img/Code.jpg');"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2>Development</h2>
            <p class="lead mb-0">We don't have a big development team but that's not going to stop us from driving forward! The more our network grows the more we'll expand our development team and further our development of all of our hosted games.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">Founders</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="https://orion-entertainment.net/MC/img/testimonials-1.jpg" alt="">
              <h5>Conway</h5>
              <p class="font-weight-light mb-0">" TEXT "</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="https://orion-entertainment.net/MC/img/testimonials-2.jpg" alt="">
              <h5>+Flabby</h5>
              <p class="font-weight-light mb-0">" TEXT "</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="call-to-action text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4">Ready to get started? Sign up now!</h2>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
              <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
                </div>
                <div class="col-12 col-md-3">
                  <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section> -->

    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="https://orion-entertainment.net/terms-of-service">Terms of Service</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="https://orion-entertainment.net/privacy-policy">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">Orion-Entertainment EST. 2017<br>&copy; OrionPanel.com 2018 All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a href="https://discord.gg/fbbAe3U" target="_blank">
                  <i class="fab fa-discord fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://orion-entertainment.net/MC/vendor/jquery/jquery.min.js"></script>
    <script src="https://orion-entertainment.net/MC/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>